.fadeWrapper {
  width: 100%;
  will-change: opacity;
}

.fadeEnter {
  opacity: 0;
}

.fadeEnterActive {
  opacity: 1;
}

.fadeExit {
  opacity: 1;
}

.fadeExitActive {
  opacity: 0;
}

.fadeEnterActive,
.fadeExitActive {
  transition: opacity 200ms;
}
