.drawer {
  outline: none;
}

.drawer :global(.ant-drawer-content-wrapper) {
  will-change: transform;
}

.header {
  min-height: 58px;
}

.body {
  position: relative;
  display: flex;
}

.contentRoot {
  height: 100%;
}

.content,
.layout,
.layoutAnchor {
  position: relative;
  width: 100%;
  min-height: 100%;

  flex-grow: 1;
}

.content {
  display: flex;
  flex-direction: column;
}

.layoutAnchor {
  display: flex;
}

.layout {
  display: flex;
}
