.fast-table {
  min-height: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.fast-table-wrapper {
  overflow: auto;
}

.fast-table.virtual-scroll .fast-table-wrapper {
  position: relative;
  contain: strict;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.fast-table .fast-table-spinner-wrapper.fast-table-spinner-wrapper {
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
}

.fast-table .fast-table-spinner-wrapper .ant-spin-container {
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
}

.fast-table .fast-table-spinner-wrapper .fast-table-spinner {
  max-height: 100%;
}

.fast-table table {
  border-collapse: collapse;
  min-width: 100%;
  table-layout: fixed;
}

.fast-table.empty table {
  height: 100%;
}

.fast-table .sample-row {
  visibility: hidden;
}

.fast-table .virtual-tbody-container {
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
}

.fast-table .virtual-tbody-content {
  position: relative;
  will-change: transform;
}

.fast-table table>thead>tr>th {
  color: #000000;
  font-weight: 600;
  text-align: start;
  background: #fafafa;
  border: 1px solid #f0f0f0;
  padding: 1rem;
  line-height: 1.1rem;
}

.fast-table .virtual-row-cells {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.fast-table table>tbody>tr>td,
.fast-table .virtual-cell,
.fast-table .virtual-row-expanded {
  border: 1px solid #f0f0f0;
  padding: 0.5rem 1rem;
  line-height: 1.1rem;
}

.fast-table .virtual-row-expanded {
  border-top: none;
}

.fast-table .sample-row td {
  border-color: transparent;
}

.fast-table-summary {
  display: flex;
  padding: 0.5rem 0 0;
  margin-bottom: 0.5rem;
}

.fast-table-pagination {
  display: flex;
  gap: 0.125rem;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}
