.queryBuilderContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.header {
  min-height: 24px;
}

.title {
  font-size: 14px;
}

.spinContainer {
  padding: 12px 0;
}

.queryBuilder {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

:global(.readonly-rule-group) {
  border: none !important;
  background: none !important;
  padding: 0 !important;
}

:global(.readonly-rule) {
  border: none !important;
  background: none !important;
  padding: 0 !important;
}
