.queryBuilder > :global(.ruleGroup) {
  border-style: none;
  background: none;
}

.queryBuilder :global(.rule) {
  max-width: 100%;
}

.queryBuilder :global(.rule-value) {
  flex: 1 1 0;
  min-width: 0;
  max-width: 100%;
  overflow: hidden;
}

.queryBuilderContainer {
  --rqb-border-color: #cccdda;
  border-color: var(--rqb-border-color);
  border-style: var(--rqb-border-style);
  border-radius: var(--rqb-border-radius);
  background: var(--rqb-background-color);
  border-width: var(--rqb-border-width);
  margin-bottom: var(--app-layout-gap);
}

.buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: calc(var(--app-layout-gap) / 2);
}
