.pageHeader {
  min-height: calc(var(--app-header-height) - var(--app-layout-gap) - 1px);

  padding: 0 0 var(--app-layout-gap);
  margin-bottom: var(--app-layout-gap);
}

.pageHeaderTitle {
  font-size: 1.25em;
  line-height: 1.25em;
  margin: 0;
  padding: 0.25em 0;
}
