.infoDescriptionHeader {
  margin: 0 0 0.5em;
}

.infoDescriptionTitle {
  font-size: 15px;
}

.infoDescriptionLabel {
  width: 35%;
}

.infoDescriptionLabel,
.infoDescriptionContent {
  background-color: transparent !important;
  transition: background-color 0.15s ease-in-out;
}

.infoDescription :global(.ant-descriptions-row:hover) .infoDescriptionLabel,
.infoDescription :global(.ant-descriptions-row:hover) .infoDescriptionContent {
  background-color: #fafafa !important;
}
